*{
    margin: 0;
    padding: 0;
}
.navbar{
    display:flex;
    gap: 380px;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 75px;

}

.menu{
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-weight: bold;
    font-size: 16px;
    font-family: calibri;

}

button{
    padding: 12px 18px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;


}

button:hover{
    background-color: darkgreen;
}

.banner{
    height: 674px;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    justify-items: center;
    flex-direction: column;
    /* padding: 100px;
    padding-left: 130px; */
}

.badge-center{
    margin: 0 auto;
    padding-top: 115px;
    /* display: flex;
    align-items: center;
    justify-items: center; */
    width: fit-content;
}

.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 4px 10px;
    border-radius: 999px;
    font-family: calibri;
    font-size: 16px;
    color: green;
}
.dot{
    width: 6px;
    height: 6px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px #012c01;
}

.banner h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    color:white;
    padding-top: 10px;
    padding-left: 98px;
}
.green{
    color: #3b8a3b;
}

.banner p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    padding-top: 10px;
    padding-left: 98px;
}

.btn{

    display: flex;
    padding-top: 25px;
    padding-left: 640px;
    gap: 10px;
}

.first-btn{
    background-color: #3b8a3b;
    gap: 6px;
    padding: 12px 12px;
}

.sec-btn{
    background-color: transparent;
    border: 2px solid white;
    gap: 6px;
    padding: 12px 12px;
}

.icon{
    width: 16px;
    height: 16px;
}

.textt{
    padding-top: 35px;
    text-align: center;
    font-family: calibri;
    font-size: 25px;
}

.textt p{
    padding-top: 7px;
    font-size: 16px;
}