*{
    margin: 0;
    padding: 0;
}
.navbar{
    display:flex;
    gap: 380px;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 75px;

}

.menu{
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-weight: bold;
    font-size: 16px;
    font-family: calibri;

}

button{
    padding: 12px 18px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;


}

button:hover{
    background-color: darkgreen;
}

.banner{
    height: 674px;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.badge-center{
    margin: 0 auto;
    padding-top: 115px;
    width: fit-content;
}

.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 4px 10px;
    border-radius: 999px;
    font-family: calibri;
    font-size: 16px;
    color: green;
}
.dot{
    width: 6px;
    height: 6px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px #012c01;
}

.banner h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    color:white;
    padding-top: 10px;
    padding-left: 98px;
}
.green{
    color: #3b8a3b;
}

.banner p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    padding-top: 10px;
    padding-left: 98px;
}

.btn{

    display: flex;
    padding-top: 25px;
    padding-left: 640px;
    gap: 10px;
}

.first-btn{
    background-color: #3b8a3b;
    gap: 6px;
    padding: 12px 12px;
}

.sec-btn{
    background-color: transparent;
    border: 2px solid white;
    gap: 6px;
    padding: 12px 12px;
}

.icon{
    width: 16px;
    height: 16px;
}

.textt{
    padding-top: 35px;
    text-align: center;
    font-family: calibri;
    font-size: 25px;
}

.textt p{
    padding-top: 7px;
    font-size: 16px;
}


.card-container {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;   
    width: 205px;
    border-radius: 10px 10px 0 0;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 -8px 10px #0000001a;
    margin-bottom: 0;
    padding-bottom: 5px;
}


.card:hover {
    background-color: #22c55e;
}

.card-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(235, 4, 73);
    display: flex;
    align-items: center; 
    justify-content: center;             
    margin: 0 auto 20px; 
}


.card h3 {
    font-size: 24px;
    font-family: calibri;
    font-weight: 700;
    margin-bottom: 12px;
}


.card p {
    font-size: 16px;
    font-family: calibri;
    font-size: 14px;
}

.second-brain{
    display: flex;
    align-items: center;
    padding: 60px;
}

.left, .right{
    width: 50%;
}

.left img{
    width: 450px;
    height: 450px;
    padding-left: 135px;
}

.right{
    padding-right: 130px;
}

.solution{
    color: green;
}

.right h1{
    padding-top: 10px;
    font-size: 40px;
    font-family: calibri;
}

.right p{
    padding-top: 15px;
    font-family: calibri;
    font-size: 15px;

}

.list{
    padding-top: 30px;
    list-style: none;
}

.list li{
    display: flex;
    gap: 7px;
    margin-bottom: 8px;
    align-items: center;
}

.list icon{
    width: 14px;
    height: 14px;
}


.challenges{
    background: lightgrey;
    padding: 80px 0;
}


.card2{
    background: #e9e7e7;
    padding: 50px;
    margin: 0 auto;
    width: 67%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 8px 25px #0000001a;
}

.card2 h1{
    padding-top: 10px;
    font-size: 40px;
    font-family: calibri;
}
.card2 p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
    font-family: calibri;
}

.btn2{
    background-color: #3b8a3b;
    border: none;
    color: white;
    border-radius: 6px;
    gap: 6px;
    width: auto;
    padding: 8px 15px;
    align-self: center;
}



.footer{
    background-color: #010125;
    color: white;
    padding: 50px;
    margin: 0 auto;
    width: 67%;
    height: 150px;
}

.footer-top{
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
}

.footer-icon{
    width: 110px;
}

.title{
    margin-bottom: 8px;
    font-family: calibri;
    font-size: 17px;
}

.social-icons{
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 12px; 
    margin: 0 auto 40px;           
}

.social-icons img{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
}

.footer hr{
    border: none;
    width: 90%;
    height: 1px;
    margin: 20px auto;
    background-color: gray;
}


.footer-text{
    text-align: center;
    font-size: 14px;
    font-family: calibri;
}